Django>=5.2,<5.3
Pillow>=11.1,<13
boto3>=1.35,<2
crispy-bootstrap5>=2025.4,<2027
dj-database-url>=2.3,<4
django-crispy-forms>=2.3,<3
django-storages[s3]>=1.14.4,<2
gunicorn>=23,<24
psycopg[binary]>=3.2,<4
python-dotenv>=1.0,<2
whitenoise>=6.8,<7
